<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ergebnis</title>
</head>
<body>
<p><font face="Arial">
    Bei einer Laufzeit von: <span th:text="${laufzeit}"></span>
        Jahren bei einem konstanten Zinssatz von <span th:text="${zinssatz}"></span>
         % p.a. und einem Anfangskapital von <span th:text="${anfangskapital}"></span>
        , beträgt das Endkapital <span th:text="${endkapital}"></span>.
    </font></p>


</body>
</html>