<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/ergebnis" method="post">
    <label for="anfangskapital"><font face="Arial">Anfangskapital:</font></label><br>
    <input type="text" id="anfangskapital" name="anfangskapital"><br>
    <br>
    <label for="laufzeit"><font face="Arial">Laufzeit:</font></label><br>
    <input type="text" id="laufzeit" name="laufzeit"><br>
    <br>
    <label for="zinssatz"><font face="Arial">Zinssatz (% p.a.)</font></label><br>
    <input type="text" id="zinssatz" name="zinssatz"><br>
    <br>
    <input type="submit" value="Aktualisieren">
</form>

</body>
</html>